{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}
{% set activeItem = "index" %}
{% extends 'layouts/application.html' %}
{% block subtitle %} -Index Page {% endblock %}
{% block content %}
  <div>
    {% include "components/dashboard/timeline.html" %}
    {% include "components/dashboard/summary.html" %}
    <div layout="column">

    </div>
  </div>
{% endblock %}

{% block javascript %}
<script src="javascripts/app.js"></script>
{% endblock %}
