{% from 'macros/helpers.html' import sprite %}

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Angular D3 Demo Page {% block subtitle %}{% endblock %}</title>
  <link rel="stylesheet" href="stylesheets/global.css">
  {% include "shared/app-icons.html" %}
  {% block head %}{% endblock %}
</head>
<body ng-strict-di ng-app="demo" ng-cloak>
  {% include "shared/page-nav.html" %}
  {% block content %}{% endblock %}
  <footer>
    <p>Jun Wang ♥ at <a href="https://www.linkedin.com/in/junwangjiang">{{sprite('linkedin', '0 0 50 50')}}</a></p>
  </footer>
  <script src="javascripts/shared.js"></script>
  {% block javascript %}{% endblock %}
</body>
</html>
